.site-footer {
  //background-color: #2a42a3;
  background: url("https://starwalk.space/gallery/images/what-is-space/1920x1080.jpg");
  color: white;
  text-align: center;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-content p {
  margin: 10px 0;
}
