/* Error: The target selector was not found.
 * Use "@extend %application-font !optional" to avoid this error.
 *    ,
 * 55 |   @extend %application-font;
 *    |   ^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   index.scss 55:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: The target selector was not found.\aUse "@extend %application-font !optional" to avoid this error.\a    \2577 \a 55 \2502    @extend %application-font;\d\a    \2502    ^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   index.scss 55:3  root stylesheet';
}
